body {
  background-color: var(--background);
  font-family: "Noto Serif SC" !important;
}

.main {
  height: 100vh;
  width: 100vw;
}

.auto-item {
  border: 1px solid #eee;   
  padding: 0.5rem;
  margin-bottom: 0.5rem;
}

.auto-item:last-child {
  margin-bottom: 0;
}
